@model IEnumerable<music_store.Models.Artist>

@{
    ViewData["Title"] = "Kunstnere";
}

<h1>Kunstnere</h1>

<p>
    <a asp-action="Create">Opret Ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Opdater</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistId">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
